<div class="gallery-showcase">
    <div class="gallery-showcase-text">
        <h3>{{title}}</h3>
        <p>{{first-p}}</p>
        <p>{{second-p}}</p>
    </div>
    <div class="gallery">
      <img src="{{url-1}}" alt="gallery-img">
      <img src="{{url-2}}" alt="gallery-img">
      <img src="{{url-3}}" alt="gallery-img">
      <img src="{{url-4}}" alt="gallery-img">
      <img src="{{url-5}}" alt="gallery-img">
      <img src="{{url-6}}" alt="gallery-img">
      <img src="{{url-7}}" alt="gallery-img">
      <img src="{{url-8}}" alt="gallery-img">
      <img src="{{url-9}}" alt="gallery-img">
      <img src="{{url-10}}" alt="gallery-img">
      <img src="{{url-11}}" alt="gallery-img">
      <img src="{{url-12}}" alt="gallery-img">
      <img src="{{url-13}}" alt="gallery-img">
    </div>
</div>