<!--(bake ../core/header.html)-->
<!--(bake ../core/navbar.html)-->


<!--(bake ../hero/hero-basic.html title="DESIGN" url="./images/DESIGN-window.jpg")-->

<div class="swiper-main">
    <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!--(bake ../cards/card-big.html url="./images/DESIGN-window.jpg")-->
        <!--(bake ../cards/card-big.html url="./images/angelfish-slide-cropped.jpg")-->
        <!--(bake ../cards/card-big.html url="./images/DESIGN-window.jpg")-->
        <!--(bake ../cards/card-big.html url="./images/DESIGN-window.jpg")-->
        <!--(bake ../cards/card-big.html url="./images/DESIGN-window.jpg")-->
        <!--(bake ../cards/card-big.html url="./images/DESIGN-window.jpg")-->
    </div>
   
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<!--(bake ../hero/hero-basic.html title="INSTALLATION" url="./images/DESIGN-window.jpg")-->

<!--(bake ../showcase/all-text-showcase.html  

     title="Aquarium Zen's selection of tropical fish is varied and unique, focused on species that do well in freshwater planted aquariums."

    first-p="Our interest is in small, peaceful species that will grace the aquarium with gentle, colorful energy.  Most of the fish in our store have been selected so that they can be freely combined in planted community aquariums.  The owner of Aquarium Zen, Steve Waldron, has over 30 years of aquarium experience and can tell you everything you need to know about the fish of your interest."

    second-p="We source many of our fish from local sources and even breed some of our own such as rare varieties of livebearers and dwarf shrimp.  We can also special order just about any type of freshwater fish and have the connections to track down rare species.")-->

 <!--(bake ../hero/hero-basic.html url="./images/box-rocks-red.jpg" title="MAINTENANCE")-->


<!--(bake ../core/footer-part.html url="./images/icons8-facebook.svg" )-->
<!--(bake ../core/footer.html)-->