<header id="top">
  <div class="logo">
    <a href="./index.html">AQUARIUM ZEN</a>
  </div>
  <div class="menu">
    <div class="burger"></div>
    <div class="burger"></div>
    <div class="burger"></div>
  </div>
  <div class="desktop-links">
    <ul>
      <li><a href="./index.html">AQUARIUM ZEN</a></li>
      <li><a href="./products.html">PRODUCTS</a></li>
      <li><a href="./services.html">SERVICES</a></li>
      <li><a href="./about.html">ABOUT US</a></li>
      <li><a href="./hours&location.html">HOURS & LOCATION/COVID INFO</a></li>
    </ul>
  </div>
</header>
<div class="hidden-nav">
  <div class="close-btn">
    <div class="hand"></div>
    <div class="hand"></div>
  </div>
  <ul>
    <li><a href="./index.html">AQUARIUM ZEN</a></li>
    <li><a href="./products.html">PRODUCTS</a></li>
    <li><a href="./services.html">SERVICES</a></li>
    <li><a href="./about.html">ABOUT US</a></li>
    <li><a href="./hours&location.html">HOURS & LOCATION/COVID INFO</a></li>
  </ul>
</div>
